Makefile*
*.a
*.d
*.Po
*.lo
*.Plo
*.o
*.so
*.dylib
*.la
.libs
TestUnitTest++
autom4te.cache
Allocator.h
at
pt
ut
stamp-h1
libtool
configure
config
*.pc
*~
*.m4
bin/executor
bin/ordermatch
bin/tradeclient
examples/executor/C++/executor
examples/ordermatch/ordermatch
examples/ordermatch/test/ordermatch_ut
examples/tradeclient/tradeclient
config.h
config.h.in
config.log
config.status
*.obj
*.idb
*.pdb
*.pch
*.user
*.ilk
*.plg
*.manifest
*.map
*.dep
*.ncb
*.suo
*.opt
quickfix*.lib
quickfix*.dll
UnitTest*.lib
debug
release
obj
fix40
fix41
fix42
fix43
fix44
include
test/cfg/at.cfg
